body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/random/1600x900/?nature,landscape,mountains,birds,animals,flowers,plants,sunset,sunrise,asthetic,nightsky,horizon,stars');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin-bottom: 1.5rem;
}

.col {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.col:hover {
    background-color: #ccc;
}

.button-19 {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.button-19:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .col {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .col {
        width: 100%;
        height: 100px;
    }
}